@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');

/* Change this visibility */
body {
  visibility: hidden;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  background: transparent;
}

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Login box */
.box {
  min-width: 45vh;
  max-width: 45vh;
  min-height: 45vh;
  max-height: 45vh;
  display: block;
  border-radius: 9px;
  border: solid 3px black;
  position: absolute;
  top: 25%;
  left: 35%;
  bottom: 25%;
  background-color: #080b0f60;
}



/* Header */
.header {
  text-align: center;
  background-color: rgba(31, 31, 31, 0.589);
  padding: 1vh;
  color: white;
  -webkit-text-stroke: 0.1vh black;
  text-shadow: 5px black;
  font-size: 4vh;
  font-family: 'Bebas Neue', cursive;
}

/* Buttons */
.btn {
  position: absolute;
  width: 35%;
  height: 7vh;
  top: 55%;
  border-radius: 9px;
  overflow: hidden;
  font-family: 'Bebas Neue', cursive;
  border: solid 2px black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  font-size: 2vh;
}

/* Login button */
.b-login {
  left: 12%;
  background-color: chartreuse;
  color: black;
}

.b-login:hover {
  background-color: green;
}

.b-login:active {
  background-color: green;
  transform: translateY(4px);
}

/* Register button */
.b-reg {
  right: 12%;
  background-color: crimson;
  color: white;
}

.b-reg:hover {
  background-color: darkred;
}

.b-reg:active {
  background-color: darkred;
  transform: translateY(4px);
}

/* Input fields */
.input-field {
  position: absolute;
  width: 55%;
  border-radius: 9px;
  border: solid 2px black;
  background-color: rgba(31, 31, 31, 0.589);
  font-family: 'Cabin', sans-serif;
  padding: 0.50vh;
  font-style: italic;
  color: white;
  overflow: hidden;
  text-align: center;
}

.input-user {
  top: 25%;
  left: 22%;
}

.input-pass {
  top: 35%;
  left: 22%;
}

/* Checkmark */
.checkmark {
  position: absolute;
  left: 0;
  text-align: center;
  height: 20px;
  width: 20px;
  border: solid 2px black;
  border-radius: 8px;
  background-color: rgba(31, 31, 31, 0.589);
  transform: translateY(-50%);
}

.checkmark:hover {
  background-color: #080b0f60;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 30%;
  width: 5px;
  height: 10px;
  border: solid chartreuse;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Accept data label */
.accept-data {
display: inline-block;
position: absolute;
top: 72%;
left: 50%;
transform: translateX(-50%);
font-family: 'Bebas Neue', cursive;
cursor: pointer;
color: white;
font-size: 100%;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.accept-data input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Promo code */
.input-promo {
  position: absolute;
  width: 25%;
  bottom: 1%;
  right: 1%;
  border-radius: 9px;
  border: solid 2px black;
  background-color: rgba(31, 31, 31, 0.589);
  font-family: 'Cabin', sans-serif;
  text-align: center;
  padding: 0.50vh;
  font-style: italic;
  color: white;
  overflow: hidden;
}

/* Draggable */
#draggable {
  position: absolute;
  z-index: 9;
}

/* Fonts */
body {
  font-family: 'Cabin', sans-serif;
}

/* Show body */
body.visible {
  visibility: visible;
}

/* Disable text selection */
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
